.HiTableOverlay {
    color: white;
    position: absolute;
}

.HiTableOverlay, td[cell-selected='true'], td[cell-highlighted='true'] {
    background-color: #27ae60;
}

td[cell-selected='true'] {
    opacity: 0.5;
}

td[cell-highlighted='true'] {
    cursor: crosshair;
}

td[cell-isNaN='true'] {
    text-decoration: line-through;
}


#HiTableOverlay-topLeft td, #HiTableOverlay-topRight td, #HiTableOverlay-bottomLeft td, #HiTableOverlay-bottomRight td {
    background-color: rgba(0, 0, 0, 1) !important;
    cursor: pointer;
}
#HiTableOverlay-top td[cell-highlighted='true'],
#HiTableOverlay-bottom td[cell-highlighted='true'],
#HiTableOverlay-left td[cell-highlighted='true'],
#HiTableOverlay-right td[cell-highlighted='true'] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}


.HiTableOverlay div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
    align-content: center;
    font-weight: 500;
}

